<hibernate-configuration>
    <session-factory>
        <!--       database connection-->
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:./data/sqlite.db</property>

        <!--        sql dialect-->
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>


<!--        <property name="hbm2ddl.auto">create</property>-->

                <property name="hbm2ddl.auto">update</property>


        <mapping class="user.User"/>
        <mapping class="store.Market"/>
        <mapping class="heroes.Hero"/>
        <mapping class="cards.Deck"/>



    </session-factory>
</hibernate-configuration>
